<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, sed
      adipisci tenetur eveniet similique temporibus suscipit ad, cupiditate
      laudantium necessitatibus repudiandae a atque labore voluptatum assumenda
      quibusdam quam asperiores est.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eaque minima
      doloribus modi molestias enim sapiente voluptatem, officiis unde soluta
      neque amet fugit natus sunt, quas totam! Corrupti, repellendus quia.
    </p>
  </body>
</html>
